/* line 17, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, sass/screen.scss */
html {
  font: .85em/1 'Aldrich', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: #222;
}

/* line 11, sass/screen.scss */
header {
  margin: 10px 0 20px 0;
}

/* line 12, sass/screen.scss */
h1 {
  font-size: 48px;
  color: #2edbac;
  text-transform: uppercase;
}

/* line 13, sass/screen.scss */
h2 {
  font-size: 22px;
  color: #555;
}

/* line 14, sass/screen.scss */
a {
  color: #2edbac;
  text-decoration: none;
}

/* line 15, sass/screen.scss */
a:hover {
  border-bottom: solid 1px #2edbac;
}

/* line 17, sass/screen.scss */
#page {
  max-width: 680px;
  padding: 10px;
  margin: 0 auto;
}

/* line 23, sass/screen.scss */
#viewport {
  margin: 0 auto;
}

/* line 27, sass/screen.scss */
.slide {
  display: none;
}
/* line 30, sass/screen.scss */
.slide img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 36, sass/screen.scss */
.slide.jbs-current {
  display: block;
}

/* line 41, sass/screen.scss */
#controls {
  margin: 10px 0 20px;
  float: right;
  overflow: hidden;
}
/* line 46, sass/screen.scss */
#controls li {
  display: inline;
}

/* line 49, sass/screen.scss */
.goto-slide {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  border: solid 1px #000;
  background-color: #555;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 8px #333333;
  -moz-box-shadow: inset 0px 0px 8px #333333;
  box-shadow: inset 0px 0px 8px #333333;
}
/* line 60, sass/screen.scss */
.goto-slide.current {
  background-color: #2edbac;
}

/* line 63, sass/screen.scss */
#effect-switcher {
  clear: both;
}
/* line 66, sass/screen.scss */
#effect-switcher h2 {
  border-bottom: solid 1px #555;
  margin: 0 0 10px;
}

/* line 72, sass/screen.scss */
#effect-list {
  overflow: hidden;
}
/* line 74, sass/screen.scss */
#effect-list li {
  display: inline;
}

/* line 77, sass/screen.scss */
.effect, .effect:hover {
  display: block;
  float: left;
  margin: 10px 10px 0 0;
  border: solid 1px black;
  border-radius: 7px;
  padding: 10px 12px 6px;
  color: #ccc;
  text-decoration: none;
  background-color: #555;
  -webkit-box-shadow: inset 0px 0px 8px #000;
  -moz-box-shadow: inset 0px 0px 8px #333;
  box-shadow: inset 0px 0px 8px #333;
  position: relative;
}
/* line 92, sass/screen.scss */
.effect.current, .effect:hover.current {
  color: #2edbac;
}
/* line 96, sass/screen.scss */
.effect span, .effect:hover span {
  font-size: .7em;
  position: absolute;
  top: -8px;
  right: -4px;
  background-color: red;
  border-radius: 6px;
  border: solid 1px #555;
  color: white;
  padding: 3px 4px 2px;
  display: inline-block;
}

/* line 110, sass/screen.scss */
#time-indicator {
  margin: 20px 0;
  width: 0px;
  height: 3px;
  background-color: #2edbac;
}

/* line 117, sass/screen.scss */
#credits {
  margin: 20px 0 40px;
  padding: 10px 0 0;
  color: #555;
  font-size: .9em;
}
