body {
  font: .85em/1.2 helvetica, arial, sans-serif;
}

#page {
  width: 640px;
  margin: 40px auto;
}

figure {
  margin: 0;
  padding: 0;
}

.description {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  background: #444;
  width: 200px;
  color: white;
  display: none;
}
.slide:first-child .description {
  display: block;
}

.demo {
  margin: 0 0 40px;
}

.box { height: 100%; position: relative; }
.slide img { width: 100%; height: 100%; }

.slider-viewport {
  width: 640px;
  height: 422px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-shadow {
  padding: 0 0 35px;
  background: url(../img/box-shadow.png) center bottom no-repeat;
}

.slider-controls {
  overflow: hidden;
}

#box-slider-1 {
  width: 640px;
  height: 482px;
}
/* pagination example */
.controls, .controls li {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.controls {
  float: right;
  margin: 10px 0 0;
}

.controls li {
  display: inline;
}

.controls li a {
  display: block;
  float: left;
  padding: 4px 6px;
  background: #444;
  color: white;
  margin: 0 0 0 4px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

#progress-indicator {
  margin: 10px 0 0;
  height: 12px;
  background-color: #999;
  width: 0px;
}
