.Page {
  position: relative;
  margin: 0 auto;
  max-width: 1800px;
}

.AppBar {
  align-items: center;
  background: rgb(0 0 0 / 40%);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.AppBar-title {
  font-size: 1.4rem;
  margin: 0;
}

.AppBar-nav {
  display: flex;
  gap: 4;
}

.AppBar-nav a {
  display: block;
  padding: 16px;
}

.Hero {
  position: relative;
  z-index: 1;
}

.HeroSlider {
  position: relative;
}

.HeroSlider-slide:not(:first-child) {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.HeroSlider-slide figure {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.HeroSlider-slide figcaption {
  background: orange;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  left: 40px;
  max-width: 320px;
  padding: 16px;
  position: absolute;
  top: 200px;
}

.HeroSlider-slide img,
.HeroPlaceholder img {
  width: 100%;
  height: auto;
}

.HeroControls {
  display: flex;
}
