:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}
