bs-slider-controls {
  --index-justify: var(--bs-index-justify, center);

  --index-btn-active-color: var(
    --bs-index-btn-active-color,
    light-dark(rgb(0 0 0 / 80%), white)
  );
  --index-btn-color: var(
    --bs-index-btn-color,
    light-dark(rgb(0 0 0 / 40%), rgb(255 255 255 / 40%))
  );
  --index-btn-size: var(--bs-index-btn-size, 1rem);

  --nav-btn-color: var(--bs-nav-btn-color, white);
  --nav-btn-bg: var(--bs-nav-btn-bg, rgb(0 0 0 / 5%));
  --nav-btn-hover-bg: var(--bs-nav-btn-hover-bg, rgb(0 0 0 / 25%));
  --nav-btn-border-radius: var(--bs-nav-btn-border-radius, 9999px);
  --nav-btn-color: var(--bs-nav-btn-color, rgb(0 0 0 / 40%));
  --nav-btn-padding: var(--bs-nav-btn-padding, 0.5rem);
  --nav-btn-size: var(--bs-nav-btn-size, 1.25rem);
  --nav-btn-next-icon: var(
    --bs-nav-btn-next-icon,
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255 255 255 / 80%)" class="bi bi-chevron-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/> </svg>')
  );
  --nav-btn-prev-icon: var(
    --bs-nav-btn-prev-icon,
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255 255 255 / 80%)" class="bi bi-chevron-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/> </svg>')
  );

  &::part(container) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &::part(slider-container) {
    position: relative;
    z-index: 1;
  }

  &::part(controls) {
    align-items: center;
    display: flex;
    inset: 10px;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
  }

  &::part(nav-btn) {
    background-color: var(--nav-btn-bg);
    border: none;
    border-radius: var(--nav-btn-border-radius);
    box-sizing: content-box;
    cursor: pointer;
    height: var(--nav-btn-size);
    overflow: hidden;
    padding: var(--nav-btn-padding);
    position: relative;
    transition: background-color color 200ms;
    width: var(--nav-btn-size);
  }

  &::part(nav-btn):hover {
    background-color: var(--nav-btn-hover-bg);
  }

  &::part(nav-btn)::before {
    background-size: var(--nav-btn-size) var(--nav-btn-size);
    box-sizing: inherit;
    color: var(--nav-btn-color);
    content: '';
    left: var(--nav-btn-padding);
    position: absolute;
    top: var(--nav-btn-padding);
    transition: color 200ms;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
  }

  &::part(prev-btn)::before {
    background-image: var(--nav-btn-prev-icon);
  }

  &::part(next-btn)::before {
    background-image: var(--nav-btn-next-icon);
  }

  &::part(index) {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: var(--index-justify);
    padding: 1rem 0;
    width: 100%;
  }

  &::part(index-btn) {
    background: transparent;
    border: solid 1px var(--index-btn-color);
    border-radius: 99999px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: var(--index-btn-size);
    position: relative;
    transition: border-color 300ms;
    width: var(--index-btn-size);
  }

  &::part(index-btn)::before {
    background-color: var(--index-btn-color);
    border-radius: 99999px;
    content: '';
    display: block;
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    transition: background-color 200ms;
    width: 80%;
  }

  &::part(index-btn active) {
    border-color: var(--index-btn-active-color);
  }

  &::part(index-btn active):before {
    background-color: var(--index-btn-active-color);
  }
}
