.mainContent {
  background: linear-gradient(
    -45deg,
    transparent,
    light-dark(rgb(0 0 0 / 15%), rgb(255 255 255 / 10%)),
    transparent
  );
  background-size: 200% 200%;
  flex: 1;
}

.article {
  display: flex;
  flex-flow: column;
}

.header {
  margin: 0 auto;
  padding: 4rem 1rem 0;
  text-align: center;
}

.heroText {
  margin: 0 auto;
  max-width: 56rem;
  text-wrap: pretty;
}

.heading {
  font-size: 3.25rem;
  font-weight: 800;
  line-height: 1;
}

.textEmphasis {
  background: linear-gradient(
    to top right,
    light-dark(var(--ifm-color-primary-darker), var(--ifm-color-primary-dark)),
    light-dark(
      var(--ifm-color-primary-lighter),
      var(--ifm-color-primary-lightest)
    )
  );
  background-clip: text !important;
  color: transparent;
}

.subHeading {
  color: light-dark(var(--ifm-color-gray-800), var(--ifm-color-gray-400));
  display: block;
  font-size: var(--bs-text-base);
  font-weight: 300;
  line-height: 1.2;
  margin: 2rem 0 0;
  min-height: 2em;
  position: relative;

  p {
    position: absolute;
    opacity: 0;
  }

  p:first-child {
    opacity: 1;
  }
}

.ctaLinks {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 0 0;
}

.features {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin: 3rem auto 0;
  max-width: 1280px;
}

.demo {
  overflow: clip;
  position: relative;
  margin: 3rem 0 0;
}

.demoContainer {
  padding: 4rem 1rem 3rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

.demoBg {
  border-radius: 50%;
  border: solid 1px light-dark(var(--ifm-color-gray-400), rgb(255 255 255 / 8%));
  height: 2000px;
  position: absolute;
  top: 0;
  left: -200%;
  width: 500%;
  background: light-dark(rgb(255 255 255 / 50%), rgb(0 0 0 / 20%));
  z-index: 1;
}

@media (width >=480px) {
  .ctaLinks {
    flex-flow: row;
  }
}

@media (width >=768px) {
  .heading {
    font-size: 3.75rem;
  }

  .subHeading {
    font-size: var(--bs-text-lg);
    min-height: 1em;
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
  }

  .demoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }
}

@media (width >=1000px) {
  .demoContainer {
    width: 960px;
    padding-top: 6rem;
  }

  .demoBg {
    left: -100%;
    width: 300%;
  }

  .features {
    gap: 2rem;
  }
}

@media (width >=1280px) {
  .header {
    padding-top: 6rem;
  }

  .heading {
    font-size: 4.5rem;
  }

  .subHeading {
    font-size: var(--bs-text-xl);
    margin-top: 3rem;
  }

  .ctaLinks {
    margin-top: 4rem;
  }

  .features,
  .demo {
    margin-top: 6rem;
  }
}
