.viewport {
  height: 400px;
  width: 600px;
}

.slide {
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  width: 100%;
}

.slide-1 {
  background-color: aliceblue;
}
.slide-2 {
  background-color: bisque;
}
.slide-3 {
  background-color: aquamarine;
}
.slide-4 {
  background-color: coral;
}
.slide-5 {
  background-color: lavender;
}
