$padding: 16px;
$small-padding: $padding / 2;
$large-padding: $padding * 2;

$gutter: $padding;
$small-gutter: $gutter / 2;
$large-gutter: $gutter * 2;

$large-content-bounds: 1200px;

$example-slider-width: 800px;
$example-slider-height: 520px;
$example-carousel-height: $example-slider-height + (8 * $gutter)
