@import 'color';
@import 'dimensions';

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: $dark-purple;
  color: $body-text-color;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

.nav-bar {
  background: $dark-purple;
  display: flex;
}

.branding {
  flex-grow: 1;

  .logo {
    color: $teal;
    display: inline-block;
    font-weight: 600;
    padding: $padding;
  }
}

.main-navigation {
  display: flex;

  a {
    color: $body-text-color;
    display: block;
    padding: $padding;
    text-decoration: none;
    transition: color 250ms;

    &:hover {
      color: $emphasis-text-color;
    }
  }
}

.hero {
  background: linear-gradient($purple, $dark-purple);
  padding: $section-padding 0;
  text-align: center;

  &-title {
    display: block;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  &-tagline {
    font-size: 24px;
    font-weight: 300;
    margin: $gutter;
  }
}

.section-header {
  margin: 0 0 $large-gutter;

  &-title {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

// Features
// --------------------------------------------
#features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $large-content-bounds;
}

.feature {
  box-sizing: border-box;;
  padding: $padding;
  text-align: center;
  width: 25%;

  &-icon {
    fill: $purple;
    height: 120px;
    margin: 0 auto;
    width: 80px;
  }

  &-description {
    &-heading {
      font-size: 24px;
      margin: 0 0 $gutter;
      padding: 0;
    }

    &-text {
      line-height: 1.4;
    }
  }
}

// Examples
// --------------------------------------------
#examples {
  margin: 120px auto 0;
  max-width: $large-content-bounds;
}

.example {
  box-sizing: border-box;
  padding: $large-gutter;
}

.examples {
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.10);

  &-navigation {
    background: $blue;
    display: flex;

    button {
      background: none;
      border: none;
      box-sizing: border-box;
      color: $body-text-color;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      padding: $padding;
      text-transform: uppercase;
      transition: background-color 500ms;
      width: 25%;

      &.active, &:hover {
        background: $purple;
      }
    }
  }

  &-slider {
    background-color: $purple;
    overflow: hidden;
  }
}

.examples-slider {
  position: relative;
  height: 600px;
}

.example {
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
