@import 'color';
@import 'dimensions';

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: $dark-purple;
  color: $body-text-color;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

.nav-bar {
  background: $dark-purple;
  display: flex;
}

.branding {
  flex-grow: 1;

  .logo {
    color: $teal;
    display: inline-block;
    font-weight: 600;
    padding: $padding;
  }
}

.main-navigation {
  display: flex;

  a {
    color: $body-text-color;
    display: block;
    padding: $padding;
    text-decoration: none;
    transition: color 250ms;

    &:hover {
      color: $emphasis-text-color;
    }
  }
}

.hero {
  background: linear-gradient($purple, $dark-purple);
  padding: ($large-padding * 4) 0;
  text-align: center;

  &-title {
    display: block;
    font-size: 72px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  &-tagline {
    font-size: 24px;
    font-weight: 300;
    margin: $gutter;
  }
}

.section-header {
  margin: 0 0 $large-gutter;

  &-title {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}

// Features
// --------------------------------------------
#features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: $large-content-bounds;
}

.feature {
  box-sizing: border-box;;
  padding: $padding;
  text-align: center;
  width: 25%;

  &-icon {
    fill: $purple;
    height: 120px;
    margin: 0 auto;
    width: 80px;
  }

  &-description {
    &-heading {
      font-size: 24px;
      margin: 0 0 $gutter;
      padding: 0;
    }

    &-text {
      line-height: 1.4;
    }
  }
}

// Getting started
// --------------------------------------------
.getting-started {
  max-width: $large-content-bounds;
  margin: 120px auto;

  h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin: 0 0 $large-gutter;
  }

  a {
    color: inherit;
    transition: color 500ms;

    &:hover, &:focus, &:active {
      color: $orange;
    }
  }

  p {
    padding: 0;
    margin: 0 0 $gutter;
  }

  pre {
    background: $code-background;
    margin: 0 0 $large-gutter;
    padding: $padding;
  }
}

// Examples
// --------------------------------------------
#examples {
  margin: 120px auto;
  max-width: $large-content-bounds;
}

.examples {
  background-color: $purple;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.10);

  &-navigation {
    background: $blue;
    display: flex;

    button {
      background: none;
      border: none;
      box-sizing: border-box;
      color: $body-text-color;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      outline: 0;
      padding: $padding;
      text-transform: uppercase;
      transition: background-color 500ms;
      width: 25%;

      &.active, &:hover {
        background: $purple;
      }
    }
  }

  &-view-selection {
    display: flex;
    flex-direction: row-reverse;

    &-item {
      background: transparent;
      border: none;
      color: $body-text-color;
      cursor: pointer;
      outline: 0;
      padding: $padding;

      svg {
        fill: $body-text-color;
        height: 24px;
        width: 24px;
      }

      &:hover, &.active {
        svg {
          fill: $orange;
        }
      }
    }

    &-code {
      background: $code-background;
      flex: 1;

      &-item {
        background: transparent;
        border: 0;
        border-bottom: solid 2px transparent;
        color: $body-text-color;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        outline: 0;
        padding: $padding $large-padding;
        transition: color, border-color 500ms;

        &:hover, &.active {
          color: $orange;
          border-bottom-color: $orange;
        }
      }
    }
  }

  &-carousel {
    height: 556px;
    overflow: hidden;
    position: relative;
  }
}

.example {
  height: 556px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &-slider {
    height: 520px;
    margin: 0 auto;
    width: 800px;

    &-wrapper {
      padding: 0 0 $large-padding;
      position: relative;
    }
  }

  &-code {
    background: $code-background;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: $padding;
    width: 100%;

    &-item {
      font-size: 14px;
    }
  }
}

#cube-slider {
  height: 100%;
  width: 100%;
}

.disabled {
  display: none;
}
